/* :root {

 zoom: 09
} */

body
{
  zoom: 100%;
}

/* DEFAULT SETTINGS FOR THE MOBILE VERSION  */

h1 
{
    color: #Fefae0;
    font-size: 3em ;
    text-align: left;
    padding-left: 10%;
    padding-top: .5em;
}

h2
{
  font-size: 2em;
  font-weight: 500;
  line-height: 1em;
  text-align: left;
  max-width: 90%;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 0.25em;
  /* padding-top: 30em; */
}

h3
{
  font-size: 2em;
  margin: 0;
  padding: 0;
  border: 0;
  padding-left: 10%;
  text-align: left;
}

h4
{
  font-size: 1.25em;
  font-weight: 450;
  text-align: left;
  padding-left: 10%;
  padding-bottom: 1em;
  margin: 0;
}

h5
{
  font-size: 1em;
  font-weight: 700;
  text-align: left;
  padding-left: 10%;
  padding-bottom: 1em;
  margin: 0;
}



p 
{
    font-weight: 300;
    font-size: 1.15em;
    text-align: left;
    max-width: 80%;
    padding-top: 0%;
    padding-bottom: 1em;
    padding-left: 10%;
}

button {
    appearance: button;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: block;
    text-align: center;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
}
input[type=text] {
  width: 90%;
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 1rem;
  background-color: #Fefae0;
}
/* checkout button styling */
.btn {
  background-color: #4a070c;
  color: white;
  padding: .5em;
  margin: .5em;
  margin-top: 1em;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #a5b868;
}

footer > p {
  font-size: 1em;
  padding: 0;
  padding-top: .5rem;
  text-align: center;
  margin: 0;
}
#navcart {
  display: none;
  position: fixed;
  z-index: 3;
  background-color: #Fefae0 ;
  height: 100vh;
  width: 100%;
  opacity: 95%;
  cursor: pointer;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
#navcart >  h3 {
  padding-left: 10%;
  padding-bottom: 1em;
  margin-right: 30%;
}
#navcart > h4 > a {
    text-decoration: none;
    color: black;
  }

 #navcart h4 > a:hover {
    color: #4a070c ;
    text-decoration: underline;
  }
  #navcart h4 > a:visited {
    color: #4a070c;
    text-decoration: none;
  }
  #navcart hr {
    margin-left: 10%;
  }
  #opencart {
    z-index: 2;
    font-size: 1.5em;
    position: fixed;
    right: 15%;
    top: 0.75em;
  }
  #closecart {
    z-index: 3;
    font-size: 1.5em;
    position: fixed;
    right: 15%;
    top: 0.75em;
  }
  #navcart > h3 {
    margin-right: 0;
    margin-top: 2rem;
  }

  .fa-shopping-cart
  {
    cursor: pointer;
  }

  .fa-shopping-cart:hover
  {
    transition: ease;
    transition-duration: 100ms;
    color: rgb(247, 238, 206);
  }
  
#home-container
{
    display: grid;
    height: max-content;
    grid-template-columns: 1fr;
    grid-template-rows: 3em max-content max-content 20em 20em 20em 2em;
    /* grid-gap: 0.25rem; */
    grid-template-areas:
      "nav"
      "main"
      "content0"
      "content1"
      "content2"
      "content3"
      "footer";
      
      font-family: "Roboto", sans-serif;
      font-weight: 800; 
      /* text-transform: uppercase; */
      font-size: 1rem;
      color: black; 
      text-align: center;
}

#shop-container
{
  display: grid;
  height: max-content;
  grid-template-columns: 1fr;
  grid-template-rows: 3em max-content max-content 15em 15em 15em 15em 15em 15em 2em;
  /* grid-gap: 0.25rem; */
  grid-template-areas:
    "nav"
    "main"
    "content0"
    "product1"
    "product2"
    "product3"
    "product4"
    "product5"
    "product6"
    "footer";
    
    font-family: "Roboto", sans-serif;
    font-weight: 800; 
    /* text-transform: uppercase; */
    font-size: 1rem;
    color: black; 
    text-align: center;
}

#product-container
{
  display: grid;
  height: max-content;
  grid-template-columns: 1fr;
  grid-template-rows: 3em max-content 20em 15em 15em 15em 2em;
  /* grid-gap: 0.25rem; */
  grid-template-areas:
    "nav"
    "content0"
    "product1"
    "content1"
    "content2"
    "content3"
    "footer";
    
    font-family: "Roboto", sans-serif;
    font-weight: 800; 
    /* text-transform: uppercase; */
    font-size: 1rem;
    color: black; 
    text-align: center;
}
#product-container2
{
  display: grid;
  height: max-content;
  grid-template-columns: 1fr;
  grid-template-rows: 3em max-content 20em 15em 15em 15em 2em;
  /* grid-gap: 0.25rem; */
  grid-template-areas:
    "nav"
    "content0"
    "product2"
    "content1"
    "content2"
    "content3"
    "footer";
    
    font-family: "Roboto", sans-serif;
    font-weight: 800; 
    /* text-transform: uppercase; */
    font-size: 1rem;
    color: black; 
    text-align: center;
}
#checkout-container {
  display: grid;
  height: max-content;
  grid-template-columns: 1fr;
  grid-template-rows: 3em max-content max-content max-content max-content max-content 2em;
  grid-template-areas:
    "nav"
    "heading"
    "cart"
    "billing"
    "payment"
    "submitting"
    "footer";

    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 1rem;
    color: black;
    text-align: left;
}
#checkout-container  h3 {
  padding: 0;
  padding-bottom: 1rem;
}

.icon-container {
  font-size: 32px;
  padding-bottom: 1rem;
}

    /* NAVIGATION STYLING */
            nav
            {
            background: #Fefae0;
            grid-area: nav;
            border-radius: var(--main-radius);
            padding-top: var(--main-padding);
            box-shadow: 2px 2px 5px #8a8a8a81;
            display: block;
            position: fixed;
            width: 100%;
            align-items: stretch;
            z-index: 1;
            }
            
            nav ul {
                text-decoration: none;
                /* display: inline; */
                margin: 0;
                padding: 1em 1em; 
                padding-left: 9%;
                /* removes ugly dots */
                list-style: none; 
                text-align: left;
                float: left;
            }


            nav li {
                position: relative;
                font-size: 1.5rem;
                font-weight: 400;
                margin-left: 1rem;
                margin-right: 1rem;
            }
            #hamburger {
              display: inline-block;
            }
            .menuclose {
              display: none;
            }
            .menuopen {
              display: inline-block;
              width: 100%;
            }
            nav a
            {
              text-decoration: none;
              color: #bc6c25;
            }
            nav a:hover
            {
                color: #4a070c;
                transition: ease-in-out 200ms;
            }

            nav a::before
            {
                /* content:''; */
                display: block;
                height: 3px;
                /* 100% of actual list item */
                background-color:#4a070c;

                position: absolute;
                top: 1.75rem;
                width: 0%;

                transition: all ease-in-out 200ms;
            }
            .navigation a.active {
              color: #4a070c;
            }

            nav a:hover::before
            {
                width:100%;
            }


#home-main
{
  background-image: url(../images/new-amsterdam.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  overflow: hidden;

}

#shop-main
{
  background-image: url(../images/weed-shop.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  overflow: hidden;

}
#about-main {
  background-image: url(../images/about.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  overflow: hidden;

}
#contact-main {
  background-image: url(../images/CoffeeThings.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  overflow: hidden;

}

main > img {
    width: 100%;
    height: 100%;
}

img {
    object-fit: cover;
    max-width: 100%;
}

.link-spanneer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.addcart {
  text-transform: capitalize;
    border-radius: 1rem;
    background: none;
    padding: 1rem 2rem;
    font-size: 1em;
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
  background-color: #283618;
  color: white;
  border: none;
  margin-bottom: 2em;
  margin-left: 10%;
  display: block;


}
.addcart:hover {
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); */
  color: rgb(247, 247, 225);
  background: rgb(218, 108, 29);
}




/* #sidebar
{
  background: #12ffff;
  grid-area: sidebar;
    border-radius: var(--main-radius);
  padding-top: var(--main-padding);
} */

/* HOME PAGE CONTENT STYLING */

#content0 {
  grid-area: content0;
  background-color: #Fefae0;
}

#content-product-descp
{
  grid-area: content-product;
  background-color: #Fefae0;
}

#content1
{
  background-image: url(../images/bud.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: content1;
  /* border-radius: 20px; */
  overflow: hidden;
  transition: 0.5s ease;
  cursor: pointer;

  display: block;
  color: black;
  text-decoration: none;

}

#content2
{
  background: url(../images/about2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: content2;
  /* border-radius: 20px; */
  overflow: hidden;
  transition: 0.5s ease;
  cursor: pointer;

  display: block;
  color: black;
  text-decoration: none;

}

#content3
{
  background: url(../images/squareImage3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: content3;
  /* border-radius: 20px; */
  overflow: hidden;
  transition: 0.5s ease;
  cursor: pointer;

  display: block;
  color: black;
  text-decoration: none;

}
#product1 {
  background-image: url(../images/tangerine.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: product1;
  /* border-radius: 20px; */
  overflow: hidden;
  display: block;
  color: black;
  text-decoration: none;  
}

#product2
{
  background: url(../images/pres.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: product2;
  /* border-radius: 20px; */
  overflow: hidden;
  transition: 0.5s ease;
  cursor: pointer;

  display: block;
  color: black;
  text-decoration: none;

}

#product3
{
  background: url(../images/oils.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: product3;
  /* border-radius: 20px; */
  overflow: hidden;
  transition: 0.5s ease;
  cursor: pointer;

  display: block;
  color: black;
  text-decoration: none;

}

#product4
{
  background-image: url(../images/pax.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  grid-area: product4;
  /* border-radius: 20px; */
  overflow: hidden;
  transition: 0.5s ease;
  cursor: pointer;

  display: block;
  color: black;
  text-decoration: none;

}

#product5
{
  background: url(../images/coffee.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: product5;
  /* border-radius: 20px; */
  overflow: hidden;
  transition: 0.5s ease;
  cursor: pointer;

  display: block;
  color: black;
  text-decoration: none;

}

#product6
{
  background: url(../images/accessories.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: product6;
  /* border-radius: 20px; */
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;

  display: block;
  color: black;
  text-decoration: none;

}

#product1 {
  background-image: url(../images/tangerine.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: product1;
  /* border-radius: 20px; */
  overflow: hidden;
  display: block;
  color: black;
  text-decoration: none;  
}

#bud-product {
  background-image: url(../images/tangerine.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: product1;
  /* border-radius: 20px; */
  overflow: hidden;
  display: block;
  color: black;
  text-decoration: none;  
}

#roll-product
{
  background: url(../images/pres.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: product2;
  /* border-radius: 20px; */
  overflow: hidden;
  transition: 0.5s ease;

  display: block;
  color: black;
  text-decoration: none;

}

.filler
{
  grid-area: filler;
  background-color: #Fefae0; 
}

.filler2
{
  grid-area: filler2;
  background-color: #Fefae0; 
}

#heading {
 grid-area: heading;
 display: block;
 font-size: 1.5rem;
}
#heading > h2 {
  padding: 0;
  margin-left: .5em;
}
#cart {
  display: block;
  grid-area: cart;
  margin: 2em;
  margin-bottom: 0;
  margin-top: 0em;
  border-style: solid;
  border-width: .2em;
  border-radius: .3em;
  padding: 1rem;
  background-color: #Fefae0 ;
  height: fit-content;
}
#cart > h4 {
  padding-left: 0;
}
#cart > h4 > a {

    text-decoration: none;
    color: black;
  }

 #cart h4 > a:hover {
    color: #4a070c ;
    text-decoration: underline;
  }
  #cart h4 > a:visited {
    color: #4a070c;
    text-decoration: none;
  }

#billing {
  grid-area: billing;
  margin: 2em;
  margin-bottom: 0;
}
#payment {
  grid-area: payment;
  margin: 2em;
  margin-top: 0;
  margin-bottom: 0;

}
#submitting {
  grid-area: submitting;
  margin: 2em;
  margin-top: 0;
  margin-bottom: 1em;

}

.content-container1
{
  background-color: #ffd390;
  box-shadow: 2px 2px 5px #8a8a8a81;
  border-right: black;
  padding: 20px 20px 20px;
}
.content-container2 {
    background-color:#a5b868 ;
    padding: 20px 20px 20px;

}
.content-container3 {
    background-color:#df889d ;
    padding: 20px 20px 20px;

}

.content-container4
{
  background-color: #ffc773;
  border-right: black;
  padding: 20px 20px 20px;
}

footer
{
  background: lightgrey;
  grid-area: footer;
}
footer > p {
  font-size: 1em;
  padding: 0;
  padding-top: .5rem;
  text-align: center;
  margin: 0;
}

/* HOVER FEATURE */

#content1:hover, #content2:hover, #content3:hover, #product1:hover, #product2:hover, #product3:hover, #product4:hover, #product5:hover, #product6:hover

{
  transform: scale(1.01);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}


        footer
        {
          background: grey;
          grid-area: footer;
            border-radius: var(--main-radius);
          padding-top: var(--main-padding);
        }

        /* .homepage
        {
          height: 100rem;
        } */
        /* TABLET RESPONSIVENESS  */
        @media screen and (min-width: 32em) {
          
        h1  {
                font-size: 5em ;
                padding: 10%;
            }

        h2 
            {
              font-size: 3em;
              margin: 0;          
            }

        h4
        {
          font-size: 2em;
        }

        h5 {
          font-size: 1.25em;
        }

        ul
        {
            padding: 5rem;
        }
        
        p {
            font-size: 1.5em;
            font-weight: 300;
            padding-top: 0%;
            padding-bottom: 5%;
        }
      
          #home-container
          {
              
              grid-template-columns:1fr 1fr 1fr 1fr 1fr;
              grid-template-rows: 3em max-content max-content 20em 20em 20em 2em;
              grid-template-areas: 
                "nav nav nav nav nav"
                "main main main main main"
                "content0 content0 content0 content0 content0"
                "content1 content1 content1 content1 content1"
                "content2 content2 content2 content2 content2"
                "content3 content3 content3 content3 content3"
                "footer footer footer footer footer";
          }
          
          #shop-container
          {
              
              grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
              grid-template-rows: 3em max-content max-content 30em 30em 30em 2em;
              grid-template-areas: 
                "nav nav nav nav nav nav"
                "main main main main main main"
                "content0 content0 content0 content0 content0 content0"
                "product1 product1 product1 product2 product2 product2"
                "product3 product3 product3 product4 product4 product4"
                "product5 product5 product5 product6 product6 product6"
                "footer footer footer footer footer footer";
          }

          #product-container
          {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 3em max-content 30em 20em 20em 20em 2em;
            grid-template-areas:
              "nav nav nav nav nav"
              "content0 content0 content0 content0 content0"
              "product1 product1 product1 product1 product1"
              "content1 content1 content1 content1 content1"
              "content2 content2 content2 content2 content2"
              "content3 content3 content3 content3 content3"
              "footer footer footer footer footer";
          }
          #product-container2
          {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 3em max-content 30em 20em 20em 20em 2em;
            grid-template-areas:
              "nav nav nav nav nav"
              "content0 content0 content0 content0 content0"
              "product2 product2 product2 product2 product2"
              "content1 content1 content1 content1 content1"
              "content2 content2 content2 content2 content2"
              "content3 content3 content3 content3 content3"
              "footer footer footer footer footer";
          }
          #checkout-container {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 3em max-content max-content max-content max-content 2em;
            grid-template-areas:
              "nav nav nav nav nav nav"
              "heading heading heading heading heading heading"
              "payment payment payment cart cart cart"
              "billing billing billing billing billing billing"
              "submitting submitting submitting submitting submitting submitting"
              "footer footer footer footer footer footer";
          }
          #checkout-container label {
            font-size: 1.5em;
        
          }
          #heading h2 {
            font-size: 3rem;
            margin: .75em;
          }
          #cart h4 {
            font-size: 1.5em;
          }
          #payment h3 {
            margin-top: 0rem;
          }
          #navcart {
            display: none;
            position: fixed;
            z-index: 3;
            background-color: #Fefae0 ;
            height: 100vh;
            width: 100%;
            opacity: 95%;
            left: 30%;
            cursor: pointer;
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
            transition: all ease-in-out 200ms;
          }

        }
/* DESKTOP RESPONSIVENESS */
@media screen and (min-width: 75em)
{

    nav ul
    {
      padding-left: 7%;
    }

    h1 
    {
      font-size: 7.5em;
      line-height: 1em;
      padding: 10%;
    }

    h2 
    {
      font-size: 3.5em;
      margin: 0;
    }

    h3
    {
      font-size: 2.25em;
      font-weight: 600;
      text-align: center;
      padding: 2.5%;
      margin: 0;
    }

    h4
    {
      font-size: 2em;

    }
    h5 {
      font-size: 1.25em;
    }

    p {
        font-size: 1.5em;
        padding-bottom: 1em;
        font-weight: 300;
        max-width: 60%;
        margin-bottom: 0;
      }

    #home-para
    {
      padding-bottom: 3em;
    }

    #about-para
    {
      padding-bottom: 3em;
    }

    #shop-para
    {
      padding-bottom: 3em;
    }

    .left-padding-20
    {
      padding-left: 20%;
    }

    .addcart {
      margin-left: 20%;
    }

      
   
      footer > p {
        max-width: 100%;
      }


      .navigation .navicon {
        display: none;
       }
      .menuclose {
        display: inline-block;
      }

  #home-container
  {
      
      grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 3em max-content max-content 30em 2em;
      grid-template-areas: 
        "nav nav nav nav nav nav"
        "main main main main main main"
        "content0 content0 content0 content0 content0 content0"
        "content1 content1 content2 content2 content3 content3"
        "content1 content1 content2 content2 content3 content3"
        "footer footer footer footer footer footer";
  }

  #shop-container
  {
      
      grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 3em max-content max-content 30em 30em 2em;
      grid-template-areas: 
        "nav nav nav nav nav nav"
        "main main main main main main"
        "content0 content0 content0 content0 content0 content0"
        "product1 product1 product2 product2 product3 product3"
        "product4 product4 product5 product5 product6 product6"
        "footer footer footer footer footer footer";
  }

  #product-container
  {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3em 5em max-content 30em 5em 30em 2em;
    grid-template-areas:
      "nav nav nav nav nav nav"
      "filler2 filler2 filler2 filler2 filler2 filler2"
      "content0 content0 content0 product1 product1 product1"
      "content0 content0 content0 product1 product1 product1"
      "filler filler filler filler filler filler"
      "content1 content1 content2 content2 content3 content3"
      "footer footer footer footer footer footer";
    
  }
  #product-container2
  {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3em 5em max-content 30em 5em 30em 2em;
    grid-template-areas:
      "nav nav nav nav nav nav"
      "filler2 filler2 filler2 filler2 filler2 filler2"
      "content0 content0 content0 product2 product2 product2"
      "content0 content0 content0 product2 product2 product2"
      "filler filler filler filler filler filler"
      "content1 content1 content2 content2 content3 content3"
      "footer footer footer footer footer footer";
    
  }
  #product-paragraph
  {
    max-width: 60%;
  }
  #checkout-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3em max-content max-content max-content max-content 2em;
    grid-template-areas:
      "nav nav nav nav nav nav"
      "heading heading heading heading heading heading"
      "billing billing billing cart cart cart"
      "billing billing billing payment payment payment"
      "submitting submitting submitting submitting submitting submitting"
      "footer footer footer footer footer footer";
  }
  #checkout-container nav {
    margin-left: 0;
  }
  #checkout-container h3 {
    text-align: left;
  }
  #checkout-container label {
    font-size: 1.5em;
    font-weight: 300;
  }
  #heading {
    margin-left: 8%;
  }
  #heading h2 {
    margin-left: 0%;
  }
  #payment {
    margin-top: 2em;
    margin-right: 16%;
  }
  #cart {
    margin-right: 8%;
    width: 50%;
  }
  #billing {
    margin-left:16% ;
}
#filler #filler2 {
  background-color: #Fefae0;
}
#navcart {
  display: none;
  position: fixed;
  z-index: 3;
  background-color: #Fefae0 ;
  height: 100vh;
  width: 100%;
  opacity: 95%;
  left: 60%;
  cursor: pointer;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
#navcart > h3 {
  text-align: left;
}
}




 
