:root
{
 /* --main-radius: 5px;
 --main-padding: 5px; */
}


h1 {
    color: #Fefae0;
    font-size: 3em ;
    text-align: left;
    padding: 3rem;
}

.container
{
    display: grid;
    height: 60rem;
    grid-template-columns: 1fr;
    grid-template-rows: 3em 20em 20em 20em 20em 2em;
    /* grid-gap: 0.25rem; */
    grid-template-areas:
      "nav"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
      
      font-family: "Roboto", sans-serif;
      font-weight: 800; 
      /* text-transform: uppercase; */
      font-size: 1rem;
      color: black; 
      text-align: center;
}
    /* NAVIGATION STYLING */
            nav
            {
            background: #Fefae0;
            grid-area: nav;
            border-radius: var(--main-radius);
            padding-top: var(--main-padding);
       
            display: block;
            position: fixed;
            width: 100%;
            align-items: stretch;
            z-index: 1;
            
            }
            nav ul {
                text-decoration: none;
                margin: 0;
                padding: 0.75rem;
                padding-left: 5rem;
                /* removes ugly dots */
                list-style: none; 
                float: left;
            }

            nav li {
                display: inline-block;
                position: relative;
                font-size: 1.5rem;
                margin-left: 1rem;
                margin-right: 1rem;
            }
            nav a
            {
            text-decoration: none;
            color: #bc6c25;
            }
            nav a:hover
            {
                color: #4a070c;
                transition: ease-in-out 200ms;
            }

            nav a::before
            {
                content:'';
                display: block;
                height: 3px;
                /* 100% of actual list item */
                background-color:#4a070c;

                position: absolute;
                top: 1.5rem;
                width: 0%;

                transition: all ease-in-out 200ms;
            }

            nav a:hover::before
            {
                width:100%;
            }
main
{
  background-image: url(../images/cofee.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  overflow: hidden;

}

main > img {
    width: 100%;
    height: 100%;
}

img {
    object-fit: cover;
    max-width: 100%;
}



/* #sidebar
{
  background: #12ffff;
  grid-area: sidebar;
    border-radius: var(--main-radius);
  padding-top: var(--main-padding);
} */

/* HOME PAGE CONTENT STYLING */
#content1
{
  background-image: url(../images/squareImage1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: content1;
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
  overflow: hidden;
}

#content2
{
  background: url(../images/preroll.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: content2;
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
  overflow: hidden;
}

#content3
{
  background: url(../images/squareImage2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: content3;
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
  overflow: hidden;
}

.content-container1
{
  background-color: #ffd390;
  padding: 10px 10px 10px;
}
.content-container2 {
    background-color:#606C38 ;
    padding: 10px 10px 10px;
}
.content-container3 {
    background-color:#4a070c ;
    padding: 10px 10px 10px;
}

        footer
        {
          background: grey;
          grid-area: footer;
            border-radius: var(--main-radius);
          padding-top: var(--main-padding);
        }

        /* .homepage
        {
          height: 100rem;
        } */
        /* TABLET RESPONSIVENESS  */
        @media only screen and (min-width: 54em) {
         h1 {
                color: #Fefae0;
                font-size: 4em ;
                text-align: left;
                padding: 5rem;
            }
            
          .container
          {
              
              grid-template-columns:1fr 1fr 1fr 1fr 1fr;
              grid-template-rows: 3em 30em 20em 20em 20em 2em;
              grid-template-areas: 
                "nav nav nav nav nav"
                "main main main main main"
                "content1 content1 content1 content1 content1"
                "content2 content2 content2 content2 content2"
                "content3 content3 content3 content3 content3"
                "footer footer footer footer footer";
          }

        }

/* DESKTOP RESPONSIVENESS */
@media only screen and (min-width: 75em)
{
    h1 {
        color: #Fefae0;
        font-size: 5em ;
        text-align: left;
        padding: 6rem;
    }
  .container
  {
      
      grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 3em 40em 30em 1em;
      grid-template-areas: 
        "nav nav nav nav nav nav"
        "main main main main main main"
        "content1 content1 content2 content2 content3 content3"
        "footer footer footer footer footer footer";
  }
 

}