/* :root {

 zoom: 09
} */

body
{
  zoom: 100%;
}

/* DEFAULT SETTINGS FOR THE MOBILE VERSION  */

h1 
{
    color: #Fefae0;
    font-size: 3.85em ;
    text-align: left;
    padding-left: 10%;
    padding-top: .5em;
}

h2
{
  font-size: 2.25em;
  font-weight: 500;
  line-height: 1em;
  text-align: left;
  max-width: 90%;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 0.25em;
  /* padding-top: 30em; */
}

h3
{
  font-size: 2em;
  margin: 0;
  padding-left: 10%;
  text-align: left;
}

h4
{
  font-size: 1.25em;
  font-weight: 450;
  text-align: left;
  padding-left: 10%;
  padding-bottom: 1em;
  margin: 0;
}

h5
{
  font-size: 0.85em;
  font-weight: 700;
  text-align: left;
  padding-left: 10%;
  padding-bottom: 1em;
  margin: 0;
}



p 
{
    font-weight: 300;
    font-size: 1.15em;
    text-align: left;
    max-width: 80%;
    padding-top: 0%;
    padding-bottom: 1em;
    padding-left: 10%;
}
footer > p {
  font-size: 1em;
  padding: 0;
  padding-top: .5rem;
  text-align: center;
  margin: 0;
}

#home-container
{
    display: grid;
    height: max-content;
    grid-template-columns: 1fr;
    grid-template-rows: 3em max-content max-content 20em 20em 20em 1em;
    /* grid-gap: 0.25rem; */
    grid-template-areas:
      "nav"
      "main"
      "content0"
      "content1"
      "content2"
      "content3"
      "footer";
      
      font-family: "Roboto", sans-serif;
      font-weight: 800; 
      /* text-transform: uppercase; */
      font-size: 1rem;
      color: black; 
      text-align: center;
}

#shop-container
{
  display: grid;
  height: max-content;
  grid-template-columns: 1fr;
  grid-template-rows: 3em max-content max-content 30em 30em 30em 30em 30em 30em 2em;
  /* grid-gap: 0.25rem; */
  grid-template-areas:
    "nav"
    "main"
    "content0"
    "content1"
    "content2"
    "content3"
    "content4"
    "content5"
    "content6"
    "footer";
    
    font-family: "Roboto", sans-serif;
    font-weight: 800; 
    /* text-transform: uppercase; */
    font-size: 1rem;
    color: black; 
    text-align: center;
}

#product-container
{
  display: grid;
  height: max-content;
  grid-template-columns: 1fr;
  grid-template-rows: 3em max-content 20em 20em 20em 20em 1em;
  /* grid-gap: 0.25rem; */
  grid-template-areas:
    "nav"
    "content0"
    "product1"
    "content1"
    "content2"
    "content3"
    "footer";
    
    font-family: "Roboto", sans-serif;
    font-weight: 800; 
    /* text-transform: uppercase; */
    font-size: 1rem;
    color: black; 
    text-align: center;
}

    /* NAVIGATION STYLING */
            nav
            {
            background: #Fefae0;
            grid-area: nav;
            border-radius: var(--main-radius);
            padding-top: var(--main-padding);
            box-shadow: 2px 2px 5px #8a8a8a81;
            display: block;
            position: fixed;
            width: 100%;
            align-items: stretch;
            z-index: 1;
            }
            
            nav ul {
                text-decoration: none;
                /* display: inline; */
                margin: 0;
                padding: 1em 1em; 
                padding-left: 9%;
                /* removes ugly dots */
                list-style: none; 
                text-align: left;
                float: left;
            }

            nav li {
                position: relative;
                font-size: 1.5rem;
                font-weight: 400;
                margin-left: 1rem;
                margin-right: 1rem;
            }
            #hamburger {
              display: inline-block;
            }
            .menuclose {
              display: none;
            }
            .menuopen {
              display: inline-block;
              width: 100%;
            }
            nav a
            {
              text-decoration: none;
              color: #bc6c25;
            }
            nav a:hover
            {
                color: #4a070c;
                transition: ease-in-out 200ms;
            }

            nav a::before
            {
                /* content:''; */
                display: block;
                height: 3px;
                /* 100% of actual list item */
                background-color:#4a070c;

                position: absolute;
                top: 1.75rem;
                width: 0%;

                transition: all ease-in-out 200ms;
            }
            .navigation a.active {
              color: #4a070c;
            }

            nav a:hover::before
            {
                width:100%;
            }


#home-main
{
  background-image: url(../images/cofee.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  overflow: hidden;

}

#shop-main
{
  background-image: url(../images/weed-shop.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  overflow: hidden;

}

main > img {
    width: 100%;
    height: 100%;
}

img {
    object-fit: cover;
    max-width: 100%;
}

.link-spanneer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}



/* #sidebar
{
  background: #12ffff;
  grid-area: sidebar;
    border-radius: var(--main-radius);
  padding-top: var(--main-padding);
} */

/* HOME PAGE CONTENT STYLING */

#content0 {
  grid-area: content0;
  background-color: #Fefae0;
}

#content-product-descp
{
  grid-area: content-product;
  background-color: #Fefae0;
}

#content1
{
  background-image: url(../images/bud.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: content1;
  /* border-radius: 20px; */
  overflow: hidden;
  transition: 0.5s ease;
  cursor: pointer;

  display: block;
  color: black;
  text-decoration: none;

}

#content2
{
  background: url(../images/pres.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: content2;
  /* border-radius: 20px; */
  overflow: hidden;
  transition: 0.5s ease;
  cursor: pointer;

  display: block;
  color: black;
  text-decoration: none;

}

#content3
{
  background: url(../images/oils.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: content3;
  /* border-radius: 20px; */
  overflow: hidden;
  transition: 0.5s ease;
  cursor: pointer;

  display: block;
  color: black;
  text-decoration: none;

}

#content4
{
  background-image: url(../images/pax.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  grid-area: content4;
  /* border-radius: 20px; */
  overflow: hidden;
  transition: 0.5s ease;
  cursor: pointer;

  display: block;
  color: black;
  text-decoration: none;

}

#content5
{
  background: url(../images/coffee.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: content5;
  /* border-radius: 20px; */
  overflow: hidden;
  transition: 0.5s ease;
  cursor: pointer;

  display: block;
  color: black;
  text-decoration: none;

}

#content6
{
  background: url(../images/accessories.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: content6;
  /* border-radius: 20px; */
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;

  display: block;
  color: black;
  text-decoration: none;

}

.content-container1
{
  background-color: #ffd390;
  box-shadow: 2px 2px 5px #8a8a8a81;
  border-right: black;
  padding: 20px 20px 20px;
}
.content-container2 {
    background-color:#606C38 ;
    padding: 20px 20px 20px;

}
.content-container3 {
    background-color:#F57F3A ;
    padding: 20px 20px 20px;

}

.content-container4
{
  background-color: #ffc773;
  border-right: black;
  padding: 20px 20px 20px;
}
#product1 {
  background-image: url(../images/tangerine.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: product1;
  /* border-radius: 20px; */
  overflow: hidden;
  display: block;
  color: black;
  text-decoration: none;  
}
footer
{
  background: lightgrey;
  grid-area: footer;
}
footer > p {
  font-size: 1em;
  padding: 0;
  padding-top: .5rem;
  text-align: center;
  margin: 0;
}

/* HOVER FEATURE */

#content1:hover, #content2:hover, #content3:hover, #content4:hover, #content5:hover, #content6:hover
{
  transform: scale(1.01);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}


        footer
        {
          background: grey;
          grid-area: footer;
            border-radius: var(--main-radius);
          padding-top: var(--main-padding);
        }

        /* .homepage
        {
          height: 100rem;
        } */
        /* TABLET RESPONSIVENESS  */
        @media screen and (min-width: 32em) {
          
        h1  {
                font-size: 5em ;
                padding: 10%;
            }

        h2 
            {
              font-size: 3em;
              margin: 0;          
            }

        h4
        {
          font-size: 2em;
        }

        ul
        {
            padding: 5rem;
        }
        
        p {
            font-size: 1.5em;
            font-weight: 300;
            padding-top: 0%;
            padding-bottom: 5%;
        }

            

      
          #home-container
          {
              
              grid-template-columns:1fr 1fr 1fr 1fr 1fr;
              grid-template-rows: 3em max-content max-content 20em 20em 20em 2em;
              grid-template-areas: 
                "nav nav nav nav nav"
                "main main main main main"
                "content0 content0 content0 content0 content0"
                "content1 content1 content1 content1 content1"
                "content2 content2 content2 content2 content2"
                "content3 content3 content3 content3 content3"
                "footer footer footer footer footer";
          }

          #product-container
          {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 3em max-content 30em 20em 20em 20em 1em;
            grid-template-areas:
              "nav nav nav nav nav"
              "content0 content0 content0 content0 content0"
              "product1 product1 product1 product1 product1"
              "content1 content1 content1 content1 content1"
              "content2 content2 content2 content2 content2"
              "content3 content3 content3 content3 content3"
              "footer footer footer footer footer";
            
          }

        }

/* DESKTOP RESPONSIVENESS */
@media screen and (min-width: 75em)
{
    h1 
    {
      font-size: 7.5em;
      line-height: 1em;
      padding: 10%;
    }

    h2 
    {
      font-size: 3.5em;
      margin: 0;
    }

    h3
    {
      font-size: 2.25em;
      font-weight: 600;
      text-align: center;
      padding: 2.5%;
      margin: 0;
    }

    h4
    {
      font-size: 2em;

    }
    h5 {
      font-size: 1.25em;
    }

    p {
        font-size: 1.75em;
        font-weight: 300;
        max-width: 50%;
        margin-bottom: 0;
      }
      footer > p {
        max-width: 100%;
      }


      .navigation .icon {
        display: none;
       }
      .menuclose {
        display: inline-block;
      }

  #home-container
  {
      
      grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 3em max-content max-content 30em 30em 2em;
      grid-template-areas: 
        "nav nav nav nav nav nav"
        "main main main main main main"
        "content0 content0 content0 content0 content0 content0"
        "content1 content1 content2 content2 content3 content3"
        "content1 content1 content2 content2 content3 content3"
        "footer footer footer footer footer footer";
  }

  #shop-container
  {
      
      grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 3em max-content max-content 30em 30em 1em;
      grid-template-areas: 
        "nav nav nav nav nav nav"
        "main main main main main main"
        "content0 content0 content0 content0 content0 content0"
        "content1 content1 content2 content2 content3 content3"
        "content4 content4 content5 content5 content6 content6"
        "footer footer footer footer footer footer";
  }

  #product-container
  {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3em max-content 20em 1em;
    grid-template-areas:
      "nav nav nav nav nav nav"
      "content0 content0 content0 product1 product1 product1"
      "content1 content1 content2 content2 content3 content3"
      "footer footer footer footer footer footer";
    
  }


  #product-paragraph
  {
    max-width: 80%;
  }
 

}