/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

html{
    font-size: 100%;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  margin-left: 3em;
  max-width: 90%;
}

.element {
  /* background-color:rgb(3, 190, 181); */
  padding-bottom: 3rem;
  border-top-width: 0.2rem;
  border-top-style: solid;
  border-top-color: rgb(0, 109, 117);
}

.second_heading
{
  margin-bottom: 0;
}

.nav-container
{
    width: 60%;
    margin: 0 auto;
}

header
{
    height:60px;
    background:#Fefae0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

/* clear fix CSS trick RETRIEVED FROM https://youtu.be/8QKOaTYvYUA */
header::after
{
    content:'';
    display: table;
    clear: both;
}

nav
{
    float: right;
}

nav a
{
  text-decoration: none;
  color: #bc6c25;
}

nav ul
{
    text-decoration: none;
    margin: 0;
    padding: 0;
    /* removes ugly dots */
    list-style: none; 
}

nav li
{
    display: inline-block;
    margin-left: 4.375rem; 
    padding-top: 20px;
    /*the position relative allows for the 
    list item before element to be the width of
    the list item text boxes and NOT
    the entire width of the window */

    position: relative;
}


nav a:hover
{
    color: Black;
    transition: ease-in-out 200ms;
}

nav a::before
{
    content:'';
    display: block;
    height: 3px;
    /* 100% of actual list item */
    width: 100%;
    background-color:#4a070c;

    position: absolute;
    top: 2.5rem;
    width: 0%;

    transition: all ease-in-out 200ms;
}

nav a:hover::before
{
    width:100%;
}


.subtitle
{
    margin-right: auto;
    margin-top: 30px;
    font-weight: 400;
    position: relative;
    color: black;
    font-size: 1.5em;
    line-height: 30px;
    padding-bottom: 1rem;
    width: 40%;
}

/* respond at 1025 pixels when shrinking page */

@media (min-width: 1025px)
{
    .about_subtitle 
    {
        margin-right: 0;
        width: 60%;
    }
}



 a:hover{
  text-decoration: none;
  background: none;
  transition-duration: 0.3s;
  -webkit-text-fill-color: #dda15e;
} 


a:focus
{
  background-color: none;
} 


.weed_image
{
  display: block;
}

.img_container
{
  position: relative;
  width: 420px;
  height: 250px;
}

.img_overlay
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: white;
}

.img_container:hover .img_overlay
{
  opacity: 0.7;
}

h1, h2, h3, h4
{
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.title{
  font-size: 6em;
  font-family: 'Roboto', serif;
  font-weight: 700;
}

h1{
  font-size: 7.5em;
  font-family: 'Roboto', serif;
  font-weight: 600;
}

h2{
  font-size: 3.5em;
  font-weight: 500;
}

h3{
  font-size: 2.25em;
  font-weight: 600;
}

h4{
  font-size: 2em;
  font-weight: 450;
  margin-bottom: 5px;
}

h5{
  font-size: 1.25em;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}


p {
  margin-top: 0;
  font-size: 1.5em;
}



.heading_margin
{
  margin-bottom: 15px;
  margin-top: 30px;
}

.font_details
{
  font-size: 1.125em;
  font-weight: 400;
  margin: 0 auto;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

/* 
BEGINNING OF STYLING WITH AID FROM CITED SOURCE:

Building Forms - Lesson 10, Retrieved from: https://learn.shayhowe.com/html-css/building-forms/

/*  */

.user_form {
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 240px;
}

input {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.account-info 
{
  padding: 20px 20px 0 20px;
  border: none;
}

.account-info label 
{
  color:black;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}

.account-info input 
{
  background: #fff;
  border: 1px solid #c6c7cc;
   box-shadow: inset 0 1px 1px rgba(3, 172, 202, 0.1);
  color: #636466;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
}

/* END OF CITATION */

.account-info input:hover
{
  background-color: gray;
  opacity: 0.5;
  transition: 0.5s ease;
}

.account-info input:focus
{
  background-color: white;
  opacity: 1;
}

/* TUTORIAL FOR BUTTON EFFECT RETRIEVED FROM
https://www.youtube.com/watch?v=MLfAW55_4cY */

.addcart
{
  text-transform: capitalize;
  border-radius: 1rem;
  background: none;
  padding: 1rem 2rem;
  font-size: 1em;
  font-family: sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  background-color: #283618;
  color: white;
  border: none;
  margin-bottom: 2em;
  display: block;
}
 
  .addcart:hover
  {
    color: rgb(247, 247, 225);
    background: rgb(218, 108, 29);
  }

.checkout
{
  text-transform: capitalize;
  border-radius: 1rem;
  background: none;
  padding: 1rem 2rem;
  font-size: 1em;
  font-family: sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  background-color: rgb(218, 108, 29);
  color:  rgb(247, 247, 225);
  border: none;
  margin-bottom: 2em;
  display: block;
}
 
  .checkout:hover
  {
    color: white;
    background: #283618;
  }
 
.flex-container
{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  width: 200%;
}

.card
{
  padding: 10px;
}


.product-list .card
{
    background-color: white;
    border-radius: 10px;
    padding: 2em;
    box-shadow: 0px 10px 5px #b2bec3;
    text-align: left;
    font-family: 'Roboto';
    max-width: 10%;
}

.product_image
{
  width: 260px;
  height: 200px;
  background-size: cover;
  margin-bottom: 20px;

}

.product_para
{
  font-size: 1em;
  font-weight: 400;
}

/* <!-- BEGINNING OF PAYMENT FORM-->

<!-- CITATION:
  w3Schools, How TO - Checkout Form. (n.d.). Retrieved October 09, 2020, from https://www.w3schools.com/howto/howto_css_checkout_form.asp
 --> */


.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 
{
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 
{
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 
{
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 
{
  padding: 0 16px;
}

.container 
{
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] 
{
  width: 60%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label 
{
  margin-bottom: 10px;
  display: block;
}

.icon-container 
{
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

span.price 
{
  float: right;
  color: grey;
}

/* COLOURED ELEMENTS */


.block
{
  flex-grow: 1;
}

.colour_container
{
  display: flex;
  flex-wrap: wrap; 
  margin-top: 3em;
}

.colour_container .block 
{
  height: 100px; 
  box-sizing: border-box;
}

.colour_container .block p 
{
    padding: 0.5rem; 
    box-sizing: border-box;
}

.sec_colour_container p
{
    padding: 0.5rem; 
    box-sizing: border-box;
}

.sec_colour_container .block 
{
  height: 100px; 
  box-sizing: border-box;
}


.colour_container .block:nth-of-type(1)
{
    background-color: #606C38; 
    box-sizing: border-box;
}

.colour_container .block:nth-of-type(2) 
{
    background-color: #dda15e; 
    box-sizing: border-box;
}

.colour_container .block:nth-of-type(3)
{
    background-color: #Fefae0; 
    box-sizing: border-box;
}

.sec_colour_container .block:nth-of-type(1)
{
  background-color: #283618; 
    box-sizing: border-box;
}

.sec_colour_container .block:nth-of-type(2)
{
    background-color: #bc6c25; 
    box-sizing: border-box;
}

.sec_colour_container .block:nth-of-type(3)
{
    background-color: #4a070c; 
    box-sizing: border-box;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */

/* .button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(50,50,50);
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus {
  background-color: rgb(200,200,200);
} */



/* 
  TEXT ELEMENTS -------------------
*/




/* 
  COMBINED ELEMENTS -------------------
*/